table {
    width: 100%;
   
}

.mat-column-right {
    text-align: center;
}

.mat-form-field {
    font-size: 16px;
    width: 100%;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 3em;
}
.search-form-field {

    width: 35em;
    margin-left: 1em;
}

.positive {
    background-color: #0080005e;
}

.negative {
    background-color: #ff000040;
}

.neutral{
    background-color: #ffc80066;
}